@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    font-family: Roboto, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: rgb(54, 169, 241);
    height: 100vh;
    color: white;
}

.main {
    background-color: lightsalmon;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.header {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.content {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.upper-header {
    background-color: yellow;
}

.lower-header {
    background-color: brown;
}

.projects {
    background-color: darkgreen;
}

.content-sidebar {
    background-color: lightskyblue;
}

.announcements {
    background-color: violet;
}

.trending {
    background-color: darkkhaki;
}

.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px;
}

.dashboard svg {
    fill: white;
    height: 50px;
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 113px;
    gap: 10px;
    font-size: 24px;
}

.sidebar-header svg {
    fill: white;
    height: 25px;
}

.nav1,
.nav2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}
