* {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: lightblue;
    height: 100vh;
}

.main {
    background-color: lightsalmon;
    height: 100vh;
}