@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    font-family: Roboto, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: rgb(54, 169, 241);
    height: 100vh;
    color: white;
}

.main {
    background-color: whitesmoke;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.header {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.content {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px;
}

.dashboard svg {
    fill: white;
    height: 50px;
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 113px;
    gap: 10px;
    font-size: 24px;
}

.sidebar-header svg {
    fill: white;
    height: 25px;
}

.nav1,
.nav2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}

.upper-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 50px;
}

.upper-header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.upper-header-left > input {
    width: 750px;
    height: 30px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid gray;
}

.upper-header-left > svg {
    height: 30px;
}

.upper-header-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.upper-header-right > svg {
    height: 30px;
}

.upper-header-right > img {
    height: 75px;
    width: 75px;
}

.upper-header-right > div {
    font-size: 20px;
}

.lower-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
}

.lower-header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.lower-header-left > img {
    height: 100px;
    width: 100px;
}

.lower-header-left > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.small-text {
    font-size: 15px;
}

.lower-header-left > div:nth-child(2) {
    font-size: 25px;
}

.lower-header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75px;
}

.lower-header-right > button {
    background-color:  rgb(54, 169, 241);
    color: white;
    padding: 15px 35px;
    border-radius: 30px;
    font-size: 20px;
    border: 1px solid white;
}

.projects {
    padding: 25px;
}

.project-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px gray;
    border-left: 15px gold solid;
}

.project-icons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding-right: 10px;
}

.project-icons svg {
    height: 30px;
}

.content-sidebar {
    border: 2px solid black;
    display: grid;
    grid-template-rows: 300px 300px;
    padding: 24px 18px;
}

.announcement-content {
    background-color: white;
}



.trending-content {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: white;
    border-radius: 12px;
    margin-top: 10px;
}

.trending-content img {
    height: 40px;
    width: 40px;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.user-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.user-project {
    color: darkgray;    
}